openapi: 3.1.0
info:
  description: |-
    ## Introduction
    This document provides a brief overview of some of the available endpoints and their parameters. The API is a REST API, accepting JSON as request body. You can use the try-it tool to play around with it, or use software like Postman.

    ## Authentication
    Most endpoints require authentication, using a JWT token. This token should be placed in the `x-authorization` field in the HTTP header. There are two types of tokens.
    - Bearer token. Uses the `Bearer <token_value>` format. This is used when logging in to VRM, for example. Can be retrieved from [/auth/login](/operations/auth/login) or [/auth/loginAsDemo](/operations/auth/loginAsDemo).
    - Access token. Uses the `Token <token_value>` format. This is commonly used for third party applications using the VRM API. Can be created using [/users/{idUser}/accesstokens/create](/operations/users/idUser/accesstokens/create).

    ## Rate limiting
    Most endpoints are by default rate limited with a rolling window of max 200 requests, where every 0.33 seconds a request gets removed from the rolling window. (so on average maximum of 3 requests per second won't get rate limited). There are different types of ratelimiting in VRM. If you receive a 429 with a JSON response, you can check the Retry-After response header to check the amount of seconds you have to wait until retrying.

    ## WARNING & DISCLAIMER
    Whilst publicly available, Victron Energy does not offer support to professional customers or end-users that implement features using the here documented functionality, except in really specific situations (i.e such as a special arrangement with a large OEM customer).

    The recommended method for support on the VRM API is to use the Modifications section on Victron Community. This space is frequently visited by many people using the API, and other methods of integrating with Victron products.
    Direct company support is only offered on a limited basis via your Victron representative.
  title: VRM API
  version: "2"
servers:
- url: https://vrmapi.victronenergy.com/v2
paths:
  /auth/login:
    post:
      description: Used to authenticate as a user to access authenticated routes.
        2FA token must be included if 2FA is enabled on the account. Returns a bearer
        token (JWT).
      operationId: auth/login
      requestBody:
        content:
          application/json:
            examples:
              normal_user:
                summary: A regular user without 2FA.
                value:
                  username: john@example.com
                  password: somepassword
              two_factor_user:
                summary: "A user using 2FA, also requesting a token with a longer\
                  \ expiration time."
                value:
                  username: john_2fa@example.com
                  password: somepassword
                  sms_token: 123456
                  remember_me: true
            schema:
              $ref: '#/components/schemas/auth_login_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_200_response'
          description: "Login successful, returns bearer token (JWT)"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: "Login unsuccessful, returns details about the error(s)"
      summary: Log in using an e-mail and password
  /auth/loginAsDemo:
    get:
      description: "Used to authenticate as the demo account. The demo user has limited\
        \ access to a few demo installations and endpoints, intended for demonstration\
        \ usage. Returns a bearer token (JWT)."
      operationId: auth/loginAsDemo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_loginAsDemo_200_response'
          description: "Login successful, returns bearer token (JWT)."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: "Login unsuccessful, returns details about the error(s)."
      summary: Log in as the demo account
  /auth/logout:
    get:
      description: Used to log out a user. The token provided in the authorization
        header will be blacklisted from the server and can no longer be used for authentication
        purposes.
      operationId: auth/logout
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_logout_200_response'
          description: Logout successful.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Something went wrong.
      summary: Log out using a token
  /users/{idUser}/addsite:
    post:
      description: Adds a new site to the user. An email will be sent when the procedure
        is done.
      operationId: users/idUser/addsite
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_idUser_addsite_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_addsite_200_response'
          description: Site added successfully.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: The site desired could not be added.
      summary: Adds a new site
      tags:
      - Users
  /users/{idUser}/installations:
    get:
      description: "Retrieves a list of installations to which the user is connected.\
        \ Normal users can only retrieve their own installations, dealers only those\
        \ of their linked customers and admins those of all users."
      operationId: users/idUser/installations
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: User id.
        explode: false
        in: path
        name: idUser
        required: true
        schema:
          type: string
        style: simple
      - description: "If 1, include all optional response values."
        explode: true
        in: query
        name: extended
        required: false
        schema:
          type: integer
        style: form
      - description: Id of the site we want to retrieve.
        explode: true
        in: query
        name: idSite
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_installations_200_response'
          description: Successfully retrieved installations.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_installations_403_response'
          description: Not authorized to view installations for this user.
      summary: All installations/sites for a given user
      tags:
      - Users
  /users/{idUser}/accesstokens/create:
    post:
      description: "Users can create personal access tokens for usage with external\
        \ services. These tokens can be used as an alternative way of authentication\
        \ against the VRM API. The token is returned, after which it is not possible\
        \ to ever retrieve it again."
      operationId: users/idUser/accesstokens/create
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: User id.
        explode: false
        in: path
        name: idUser
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              createToken:
                summary: Creating a new token.
                value:
                  name: MyNewToken
              createExpiringToken:
                summary: Creating a new token.
                value:
                  name: MyNewToken
                  expiry: 1685992714
            schema:
              $ref: '#/components/schemas/users_idUser_accesstokens_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_accesstokens_create_200_response'
          description: Token created successfully
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: "Token creation failed, returns details about the error(s)"
      summary: Create an access token for a user.
      tags:
      - Users
  /users/{idUser}/accesstokens/list:
    get:
      description: "Retrieves a list of all access token details for this user, excluding\
        \ the actual token itself. Always returns tokens for the requesting user,\
        \ never for another, regardless of account type."
      operationId: users/idUser/accesstokens/list
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: User id.
        explode: false
        in: path
        name: idUser
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_accesstokens_list_200_response'
          description: Tokens retrieved successfully.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: "Token retrieval failed, returns details about the error(s)"
      summary: List all access tokens for a user.
      tags:
      - Users
  /users/{idUser}/accesstokens/{idAccessToken}/revoke:
    get:
      description: Revokes one or more personal access token for a user.
      operationId: users/idUser/accesstokens/revoke
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: User id.
        explode: false
        in: path
        name: idUser
        required: true
        schema:
          type: string
        style: simple
      - description: "Access token to revoke, or wildcard '*' to revoke all."
        explode: false
        in: path
        name: idAccessToken
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_accesstokens_revoke_200_response'
          description: Token(s) revoked successfully
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: "Token creation failed, returns details about the error(s)"
      summary: Revoke an access token for a user.
      tags:
      - Users
  /users/{idUser}/get-site-id:
    post:
      description: Retrieves the site id from user's installations given site identifier.
        Admins can retrieve any installation.
      operationId: users/idUser/get-site-id
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_idUser_addsite_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_get_site_id_200_response'
          description: Successfully retrieved installation.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: "Token creation failed, returns details about the error(s)"
      summary: Returns site id given site identifier
      tags:
      - Users
  /users/me:
    get:
      description: "Retrieves id, name, email and country of the user that is currently\
        \ logged in"
      operationId: users/me
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_me_200_response'
          description: Succesfully retrieved information.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_installations_403_response'
          description: User is not logged in (or no bearer token).
      summary: Basic information about logged in user
      tags:
      - Users
  /users/{idUser}/search:
    get:
      description: "Search for sites that you have access to based on ID of the site,\
        \ email of a user, name of a user, serial number of a device attached to a\
        \ site, site identifier or email domain"
      operationId: users/idUser/search
      parameters:
      - description: Search term to filter results.
        example: foo
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_search_200_response'
          description: Query was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_idUser_search_400_response'
          description: Invalid query or missing
      summary: Search
      tags:
      - Users
  /installations/{idSite}/alarms:
    delete:
      description: Deletes an alarm already linked to an installation.
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation ID
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__alarms_delete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__alarms_delete_200_response'
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Could not delete alarm
      summary: Delete Alarm
      tags:
      - Installations
    get:
      description: "Gets all information about alarms for a specific installation.\
        \ Next to that, it also receives all data required to create new alarms"
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation ID
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__alarms_get_200_response'
          description: "Retrieves all alarms from an installation, eligible users\
            \ for those alarms and available data attributes."
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Alarms not available
      summary: Get Alarms
      tags:
      - Installations
    post:
      description: Adds an alarm to an installation. Note that there are two different
        types of alarms; alarms on enums and alarms on numbers (floats). Note that
        for floats the AlarmEnabled and NotifyAfterSeconds use PascalCase and for
        enums they use camelCase. You'll get a warning if the wrong case is used.
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation ID
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              float:
                summary: An alarm for numbers
                value:
                  AlarmEnabled: 1
                  NotifyAfterSeconds: 60
                  highAlarm: 2
                  highAlarmHysteresis: 2
                  idDataAttribute: 630
                  instance: 0
                  lowAlarm: 0
                  lowAlarmHysteresis: 0.2
              enum:
                summary: An alarm for numbers
                value:
                  instance: 0
                  idDataAttribute: 185
                  enumValues:
                  - 0
                  notifyAfterSeconds: 3600
                  alarmEnabled: 1
            schema:
              $ref: '#/components/schemas/_installations__idSite__alarms_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__alarms_post_200_response'
          description: Successfully added an alarm.
      summary: Add Alarm
      tags:
      - Installations
    put:
      description: Edits an alarm already linked to an installation. Note that there
        are two different types of alarms; alarms on enums and alarms on numbers (floats).
        Note that for floats the AlarmEnabled and NotifyAfterSeconds use PascalCase
        and for enums they use camelCase. You'll get a warning if the wrong case is
        used.
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation ID
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              float:
                summary: An alarm for numbers
                value:
                  AlarmEnabled: 1
                  NotifyAfterSeconds: 60
                  highAlarm: 2
                  highAlarmHysteresis: 2
                  idDataAttribute: 630
                  instance: 0
                  lowAlarm: 0
                  lowAlarmHysteresis: 0.2
              enum:
                summary: An alarm for numbers
                value:
                  instance: 0
                  idDataAttribute: 185
                  enumValues:
                  - 0
                  notifyAfterSeconds: 3600
                  alarmEnabled: 1
            schema:
              $ref: '#/components/schemas/_installations__idSite__alarms_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__alarms_put_200_response'
          description: Successfully added an alarm.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Alarm not added
      summary: Edit Alarm
      tags:
      - Installations
  /installations/{idSite}/clear-alarm:
    post:
      description: Clears alarms and marks them as cleared by the user in Event Logs.
      operationId: installations/idSite/clear-alarm
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the installation.
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/installations_idSite_clear_alarm_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_clear_alarm_200_response'
          description: Alarm cleared successfully.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Clear alarm
      tags:
      - Installations
  /installations/{idSite}/system-overview:
    get:
      description: Retrieves a list of devices to which are connected to this installation.
        This endpoint is only accessible to users with access to the installation.
      operationId: installations/idSite/system-overview
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_system_overview_200_response'
          description: Successfully retrieved devices
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Not authorized to view devices for this installation.
      summary: Connected devices for a given installation
      tags:
      - Installations
  /installations/{idSite}/diagnostics:
    get:
      description: Retrieves log data for an installation. This endpoint is only accessible
        to users with access to the installation.
      operationId: installations/idSite/diagnostics
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "How many records to fetch, 100 if not specified."
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: "Which page to fetch, 1 if not specified."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_diagnostics_200_response'
          description: Successfully retrieved logging data.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Not authorized to get log data for this installation.
      summary: Diagnostic data for an installation
      tags:
      - Installations
  /installations/{idSite}/dynamic-ess-settings:
    get:
      parameters:
      - description: The ID of the installation
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_200_response'
          description: Successfully updated the Dynamic ESS configuration for this
            installation.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_403_response'
          description: User is not authorized to access or modify this installation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_404_response'
          description: Installation not found.
      summary: Dynamic ESS configuration
      tags:
      - Installations
    post:
      parameters:
      - description: The ID of the installation
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_200_response'
          description: Successfully updated the Dynamic ESS configuration for this
            installation.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_403_response'
          description: User is not authorized to access or modify this installation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_404_response'
          description: Installation not found.
      summary: Dynamic ESS configuration
      tags:
      - Installations
  /installations/{idSite}/gps-download:
    get:
      description: Retrieves GPS tracks for an installation as a KML file.
      operationId: installations/idSite/gps-download
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: Timestamp from which to fetch data.
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: integer
        style: form
      - description: Timestamp to which to fetch data.
        explode: true
        in: query
        name: end
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.google-earth.kml+xml: {}
          description: Successfully created KML file containing tracks.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: GPS tracks for an installation
      tags:
      - Installations
  /installations/{idSite}/tags:
    delete:
      description: Remove tag for an installation.
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__tags_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__tags_delete_200_response'
          description: Tag removed successfully
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Remove installation tag
      tags:
      - Installations
    get:
      description: Tags for an installation.
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__tags_get_200_response'
          description: Successfully retrieved tags.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Get installation tags
      tags:
      - Installations
    put:
      description: Add tag for an installation.
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__tags_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__tags_put_200_response'
          description: Tag added successfully
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Add installation tag
      tags:
      - Installations
  /installations/{idSite}/data-download:
    get:
      description: "Retrieves a base64 encoded string containing the specified installation\
        \ data, in the specified format."
      operationId: installations/idSite/data-download
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      - description: "Type of data to export, defaults to log."
        explode: true
        in: query
        name: datatype
        required: false
        schema:
          enum:
          - log
          - benchmark
          - kwh
          type: string
        style: form
      - description: "Export data file format, defaults to csv."
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          - excelxml
          - xls
          - xlsx
          - html
          type: string
        style: form
      - description: "Include debug attributes, only for admins and restricted admins,\
          \ defaults to false."
        explode: true
        in: query
        name: debug
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, the request is executed asynchronously and the result\
          \ is not included in the response but sent to the email address of the requesting\
          \ account."
        explode: true
        in: query
        name: async
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_data_download_200_response'
            text/html: {}
            text/csv: {}
            application/vnd.ms-excel: {}
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
          description: Successfully exported / started exporting data.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Download installation data
      tags:
      - Installations
  /installations/{idSite}/stats:
    get:
      description: |
        Retrieves installation stats for the specified period, or one day if none specified. If the datatype is set to custom, one or more attributes can be provided using the attributeCodes[] parameter.

        There is a maximum allowed time period for each interval, which is:
        * 31 days for 15 minutes
        * 31 days for hours
        * 180 days for days
        * 140 days for weeks
        * 24 months for months
        * 5 years for years
      operationId: installations/idSite/stats
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      - description: "Type of data to fetch, defaults to live_feed. If set to custom,\
          \ the attributeCodes[] parameter must be provided."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - venus
          - live_feed
          - consumption
          - solar_yield
          - kwh
          - generator
          - generator-runtime
          - custom
          - forecast
          type: string
        style: form
      - description: "Time between retrieved data points, defaults to hours."
        explode: true
        in: query
        name: interval
        required: false
        schema:
          enum:
          - 15mins
          - hours
          - 2hours
          - days
          - weeks
          - months
          - years
          type: string
        style: form
      - description: "Attribute codes for which to retrieve series, repeated for each\
          \ attribute. Required at least once if datatype is set to custom."
        explode: true
        in: query
        name: "attributeCodes[]"
        required: false
        schema:
          type: string
        style: form
      - description: "If included, attributes will be grouped by instance."
        explode: true
        in: query
        name: show_instance
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_stats_200_response'
          description: Successfully retrieved statistics.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Installation stats
      tags:
      - Installations
  /installations/{idSite}/overallstats:
    get:
      description: "Retrieves installation stats grouped by the last year, month,\
        \ week and day. If the datatype is set to custom, one or more attributes can\
        \ be provided using the attributeCodes[] parameter."
      operationId: installations/idSite/overallstats
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Type of data to fetch, defaults to live_feed. If set to custom,\
          \ the attributeCodes[] parameter must be provided."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - venus
          - live_feed
          - consumption
          - solar_yield
          - kwh
          - generator
          - generator-runtime
          - custom
          type: string
        style: form
      - description: "Attribute codes for which to retrieve series, repeated for each\
          \ attribute. Required at least once if datatype is set to custom."
        explode: true
        in: query
        name: "attributeCodes[]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_overallstats_200_response'
          description: Successfully retrieved overall statistics.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Overall installation stats
      tags:
      - Installations
  /installations/{idSite}/settings:
    post:
      description: Allows the user to modify settings related to a specific installation
        identified by its ID. You can send one or more of the fields you want to update
        at once.
      operationId: installations/idSite/settings
      parameters:
      - description: The ID of the installation
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/installations_idSite_settings_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_settings_200_response'
          description: Successfully updated settings for the installation.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_403_response'
          description: User is not authorized to access or modify this installation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__dynamic_ess_settings_get_404_response'
          description: Installation not found.
      summary: Update settings for a specific installation
      tags:
      - Installations
  /installations/{idSite}/invite:
    post:
      description: Sends an invitation to a user to gain access to a specific installation.
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation ID
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              string:
                summary: Inviting Andrew to access the installation.
                value:
                  name: Andrew
                  email: andrew@example.com
                  accessLevel: 1
            schema:
              $ref: '#/components/schemas/_installations__idSite__invite_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__invite_post_200_response'
          description: Invitation sent.
      summary: Invite user to installation
      tags:
      - Installations
  /installations/{idSite}/reset-forecasts:
    get:
      description: "Queries influx for the last time the forecasts for this installation\
        \ were reset. Returns either the timestamp, or 0 if the forecasts were never\
        \ reset."
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation ID
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__reset_forecasts_get_200_response'
          description: InfluxDB was queried successfully and the timestamp was returned
      summary: Retrieves the timestamp of the last forecasts reset
      tags:
      - Installations
    post:
      description: "Logs the current timestamp with the resetType in influx. The forecasting\
        \ model then ingores all data before this timestamp, effectively treating\
        \ the installation as if it's a new one"
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation ID
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__reset_forecasts_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__reset_forecasts_post_200_response'
          description: Forecasts were successfully reset
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__reset_forecasts_post_400_response'
          description: Not enough information given in request. Either idSite or resetType
            is missing.
      summary: Reset installation forecasts
      tags:
      - Installations
  /installations/{idSite}/custom-widget:
    delete:
      description: Delete a custom widget
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the installation.
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__custom_widget_delete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__reset_forecasts_post_200_response'
          description: Custom widget deleted successfully.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Delete Custom Widget
      tags:
      - Installations
    get:
      description: Get a custom widget
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the installation.
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      - description: ID of the custom widget
        explode: false
        in: path
        name: idCustomWidget
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__custom_widget_get_200_response'
          description: Custom Widget data received successfully.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Get Custom Widgets
      tags:
      - Installations
    patch:
      description: Update a custom widget
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the installation.
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__custom_widget_patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__reset_forecasts_post_200_response'
          description: Custom widget updated successfully.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Update Custom Widget
      tags:
      - Installations
    post:
      description: Create a custom widget
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the installation.
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_installations__idSite__custom_widget_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_installations__idSite__custom_widget_post_200_response'
          description: Custom widget created successfully.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Create Custom Widget
      tags:
      - Installations
  /installation-overview-download:
    post:
      description: "Fetches a customized overview of installations with specified\
        \ columns, site IDs, and settings. The response can be either JSON or an XLSX\
        \ file depending on the `jsonResponse` parameter."
      operationId: installationOverviewDownload
      parameters:
      - $ref: ../../../docs/components.yaml#/components/parameters/authorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/installationOverviewDownload_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installationOverviewDownload_200_response'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                description: XLSX file containing the installation overview.
                format: binary
                type: string
          description: Successfully retrieved the installation overview.
        "400":
          content:
            application/json:
              schema:
                $ref: ../../../docs/components.yaml#/components/schemas/generalError
          description: Invalid request format or missing parameters.
        "403":
          content:
            application/json:
              schema:
                $ref: ../../../docs/components.yaml#/components/schemas/generalError
          description: Not authorized to access installation overview data.
      summary: Download installation overview
      tags:
      - Installations
  /data-attributes:
    get:
      description: "Returns a JSON object of attributes with `idDataAttribute` as\
        \ string keys. Filters out `targetTable`, `idDeviceType`, and `idDataAttribute`\
        \ fields."
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/_data_attributes_get_200_response_value'
          description: Successful response
      summary: Retrieve filtered and sorted attributes
  /installations/{idSite}/widgets/Graph:
    get:
      description: "Retrieves data points for a graph for the given installation and\
        \ data attributes. Data attributes should be given as id's, codes or both.\
        \ If not given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/Graph
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Attribute codes for which to retrieve series, repeated for each\
          \ attribute."
        explode: true
        in: query
        name: "attributeCodes[]"
        required: false
        schema:
          type: string
        style: form
      - description: "Attribute id's for which to retrieve series, repeated for each\
          \ attribute."
        explode: true
        in: query
        name: "attributeIds[]"
        required: false
        schema:
          type: integer
        style: form
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      - description: "Width of the graph in pixels, defaults to 768."
        explode: true
        in: query
        name: width
        required: false
        schema:
          type: integer
        style: form
      - description: "The amount of datapoints per pixel of the width of the graph,\
          \ defaults to two."
        explode: true
        in: query
        name: pointsPerPixel
        required: false
        schema:
          type: number
        style: form
      - description: "If 1, include the mean, min and max for each datapoint. Else,\
          \ include only one value per datapoint."
        explode: true
        in: query
        name: useMinMax
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_Graph_200_response'
          description: Successfully retrieved graph data points.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Graph series for a given installation and set of attributes
      tags:
      - General Widgets
  /installations/{idSite}/widgets/GPS:
    get:
      description: "Retrieves GPS data for the specified installation, used in the\
        \ GPS widget."
      operationId: installations/idSite/widgets/GPS
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GPS_200_response'
          description: Successfully retrieved GPS data.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: GPS data for an installation
      tags:
      - General Widgets
  /installations/{idSite}/widgets/HoursOfAc:
    get:
      description: "Retrieves hours of AC for an installation. If no timeframe is\
        \ specified, data from the last day will be used."
      operationId: installations/idSite/widgets/HoursOfAc
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_HoursOfAc_200_response'
          description: Successfully calculated and retrieved hours of AC.
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Hours of AC for an installation
      tags:
      - General Widgets
  /installations/{idSite}/widgets/GeneratorState:
    get:
      description: "Retrieves generator state changes for a state graph. If not given\
        \ a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/GeneratorState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Generator state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/InputState:
    get:
      description: "Retrieves input state changes for a state graph. If not given\
        \ a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/InputState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Input state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/InverterState:
    get:
      description: "Retrieves inverter state changes for a state graph. If not given\
        \ a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/InverterState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Inverter state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/MPPTState:
    get:
      description: "Retrieves MPPT state changes for a state graph. If not given a\
        \ timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/MPPTState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: MPPT state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/ChargerState:
    get:
      description: "Retrieves charger state changes for a state graph. If not given\
        \ a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/ChargerState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Charger state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/EssBatteryLifeState:
    get:
      description: "Retrieves ESS battery life state changes for a state graph. If\
        \ not given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/EssBatteryLifeState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: ESS battery life state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/FuelCellState:
    get:
      description: "Retrieves fuel cell state changes for a state graph. If not given\
        \ a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/FuelCellState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Fuel cell state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/BatteryExternalRelayState:
    get:
      description: "Retrieves battery external relay state changes for a state graph.\
        \ If not given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/BatteryExternalRelayStateCommand
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Battery external relay state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/BatteryRelayState:
    get:
      description: "Retrieves battery relay state changes for a state graph. If not\
        \ given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/BatteryRelayState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Battery relay state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/BatteryMonitorWarningsAndAlarms:
    get:
      description: "Retrieves battery monitor warnings and alarms data for a state\
        \ graph. If not given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/BatteryMonitorWarningsAndAlarms
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Battery monitor warnings and alarms graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/GatewayRelayState:
    get:
      description: "Retrieves gateway relay state changes for a state graph. If not\
        \ given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/GatewayRelayState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Gateway relay state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/GatewayRelayTwoState:
    get:
      description: "Retrieves gateway relay two state changes for a state graph. If\
        \ not given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/GatewayRelayTwoState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
        schema:
          type: string
        style: simple
      - description: "Instance for which to retrieve data, defaults to 0."
        explode: true
        in: query
        name: instance
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp from which to fetch data, defaults to one day ago."
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: "Timestamp to which to fetch data, defaults to now."
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installations_idSite_widgets_GeneratorState_200_response'
          description: Successfully retrieved state changes.
        "4xx":
          content:
            application/json:
              examples:
                error:
                  summary: One or more errors occurred.
                  value:
                    success: false
                    errors: Error message
                    error_code: Error code
              schema:
                $ref: '#/components/schemas/auth_login_401_response'
          description: Request unsuccessful.
      summary: Gateway relay two state graph data
      tags:
      - State Widgets
  /installations/{idSite}/widgets/ChargerRelayState:
    get:
      description: "Retrieves charger relay state changes for a state graph. If not\
        \ given a timeframe, data for the last day will be retrieved."
      operationId: installations/idSite/widgets/ChargerRelayState
      parameters:
      - description: The bearer token to use.
        examples:
          bearer:
            summary: Authenticate with a bearer token.
            value: Bearer <bearer_token_value>
          token:
            summary: Authenticate with a access token.
            value: Token <token_value>
        explode: false
        in: header
        name: x-authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Installation id
        explode: false
        in: path
        name: idSite
        required: true
[...]
