<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<applicationSettings>
		<Monitor.Properties.Settings>
			<setting name="Username" serializeAs="String">
				<value>vrm.app@ib-leier.net</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>lwQcf-Password-IsGR6</value>
			</setting>
			<setting name="TimerInterval" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="LowVoltage" serializeAs="String">
				<value>24.2</value>
			</setting>
			<setting name="VoltageStep" serializeAs="String">
				<value>0.3</value>
			</setting>
			<setting name="LoggingFile" serializeAs="String">
				<value>d:\Logs\SolarMonitor_{0:yyyy-MM-dd}.txt</value>
			</setting>
			<setting name="ModbusIpAddress" serializeAs="String">
				<value>venus</value>
			</setting>
			<setting name="ModbusTimerInterval" serializeAs="String">
				<value>2</value>
			</setting>
		</Monitor.Properties.Settings>
	</applicationSettings>
</configuration>
